build
BGHUDAppKit.xcodeproj/*.mode1v3
BGHUDAppKit.xcodeproj/*.pbxuser
BGHUDAppKit.xcodeproj/*.perspectivev3
BGHUDAppKit.xcodeproj/xcuserdata/
bghudtest/bghudtest.xcodeproj/xcuserdata/
bghudtest/bghudtest.xcodeproj/project.xcworkspace/
.DS_Store
BGHUDAppKit.xcodeproj/project.xcworkspace/xcuserdata/binarygod.xcuserdatad/